# Ignore everything
*

# Except for these file types
!.gitignore
!*.tex
!*.md
!*.sty
!*.bst
!*.ist
!*.cls
!*.png
!*.jpg
!*.bib
!*.py

# PDFs of images are needed.
!/graphics/*.pdf
!/graphics/*/*.pdf

# Don't ignore subdirectories
!*/